@font-face {
font-family: "Authentic";
font-weight: normal;
src: url("fonts/AUTHENTICSans-60.woff") format("woff");
}

@font-face {
font-family: "Authentic";
font-weight: bold;
src: url("fonts/AUTHENTICSans-90.woff") format("woff");
}

@font-face {
font-family: "Authentic Condensed";
font-weight: normal;
src: url("fonts/AUTHENTICSans-Condensed-60.woff") format("woff");
}

@font-face {
font-family: "Authentic Condensed";
font-weight: bold;
src: url("fonts/AUTHENTICSans-Condensed-130.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Authentic", Arial, Helvetica, sans-serif;
    background: black;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Authentic Condensed";
}

a:hover {
    color: yellow;
}

.semibold {
    font-family: "Authentic";
}

/* Wrapper */
.wrapper {
    height: 100vh;
}

/* Header */
.header-button-wrapper {
    display: flex;
}

.header span {
    list-style: none;
    font-size: 3rem;
    font-family: "Authentic Condensed", Arial, sans-serif;
    color: white;
    margin: 2vw;
    padding: 10px 36px 16px;
}

.header .open {
    background-image: url("img/open1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header a {
    color: white;
}

/* CV button */
.cv-button {
    border-radius: 15px;
    margin: 10px;
    padding: 3px 7px;
    background: rgba(255, 255, 255, 0.7);
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.cv-button:hover {
    background: gray;
}

.cv-button a {
    font-family: "Authentic";
    font-weight: bold;
    text-decoration: none;
    font-size: 36px;
    padding-top: 8px;
    color: black;
}

.cv-button:hover a {
    color: yellow;
}

/* CV modal */
.cv-container {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cv-container.active {
    display: block;
}

.cv {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    font-family: "Authentic Condensed", Arial, sans-serif;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.cv p {
    margin: 1rem auto 1rem;
    width: 90%;
}

.center-align {
    text-align: center;
}

.cv .open2 {
    background-image: url("img/open2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 15px 20px 15px;
}

/* Job items + animation */
.listed-jobs {
    height: 100%;
    line-height: 3rem;
    padding: 10vh 4vw;
}

.job-item {
    color: white;
    opacity: 0;
    font-size: 2rem;
    font-family: "Authentic Condensed";
    font-weight: bold;
    transition: 1s ease-in-out opacity;
    cursor: default;
    padding: 0 1rem 0;
}

.job-item.active {
    opacity: 1;
}

.job-item:hover {
    opacity: 1!important;
    transition: 0s;
}



@media (max-width: 1000px) {
    html {
        font-size: 1.7rem;
    }

    .header {
        margin-top: 1rem;
    }

    .header span {
        padding: 0 1rem;
    }

    .header span.open {
        padding: 10px 44px 17px;
    }

    .listed-jobs {
        line-height: 1.5rem;
    }

    .job-item {
        font-size: 1.5rem;
    }
}
