* {
    margin: 0;
}

body {
    background: black;
}

.header {
    width: 90%;
}

span {
    list-style: none;
    font-size: 46px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-stretch: extra-condensed;
    color: white;
    margin: 3vw;
    padding: 10px 30px 14px;
}

.header .open {
    /* background: yellow; */
    background-image: url("open1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cv {
    position: absolute;
    top: 8px;
    right: 1vw;
    margin-left: 10px;
    border-radius: 15px;
    padding: 3px 7px;
    background: rgba(255, 255, 255, 0.7);
}

.cv a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: black;
    font-stretch: normal;
}
