@font-face {
font-family: "AUTHENTICSans60";
src: url("fonts/AUTHENTICSans-60.woff") format("woff")
}

@font-face {
font-family: "AUTHENTICSans90";
src: url("fonts/AUTHENTICSans-90.woff") format("woff")
}

@font-face {
font-family: "AUTHENTICSansC60";
src: url("fonts/AUTHENTICSans-Condensed-60.woff") format("woff")
}

@font-face {
font-family: "AUTHENTICSansC130";
src: url("fonts/AUTHENTICSans-Condensed-130.woff") format("woff")
}

* {
    margin: 0;
}

body {
    background: black;
}

a {
    text-decoration: none;
    color: black;
    font-family: AUTHENTICSansC130;
}

a:hover {
    color: yellow;
}

b {
    font-family: AUTHENTICSansC130, Arial, sans-serif;
}

.semibold {
    font-family: AUTHENTICSansC60;
}

.header {
    width: 90%;
}

.item1 {
    -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;

}

.item2 {
    -webkit-animation: 7s ease 0s normal forwards 1 fadein;
    animation: 7s ease 0s normal forwards 1 fadein;

}

.item3 {
    -webkit-animation: 8s ease 0s normal forwards 1 fadein;
    animation: 8s ease 0s normal forwards 1 fadein;
}

.item4 {
    -webkit-animation: 9s ease 0s normal forwards 1 fadein;
    animation: 9s ease 0s normal forwards 1 fadein;
}

.item5 {
    -webkit-animation: 10s ease 0s normal forwards 1 fadein;
    animation: 10s ease 0s normal forwards 1 fadein;
}

.item6 {
    -webkit-animation: 11s ease 0s normal forwards 1 fadein;
    animation: 11s ease 0s normal forwards 1 fadein;
}

.item7 {
    -webkit-animation: 12s ease 0s normal forwards 1 fadein;
    animation: 12s ease 0s normal forwards 1 fadein;
}

.item8 {
    -webkit-animation: 13s ease 0s normal forwards 1 fadein;
    animation: 13s ease 0s normal forwards 1 fadein;
}

.item9 {
    -webkit-animation: 14s ease 0s normal forwards 1 fadein;
    animation: 14s ease 0s normal forwards 1 fadein;
}

.item10 {
    -webkit-animation: 15s ease 0s normal forwards 1 fadein;
    animation: 15s ease 0s normal forwards 1 fadein;
}

.item11 {
    -webkit-animation: 16s ease 0s normal forwards 1 fadein;
    animation: 16s ease 0s normal forwards 1 fadein;
}

.item12 {
    -webkit-animation: 17s ease 0s normal forwards 1 fadein;
    animation: 17s ease 0s normal forwards 1 fadein;
}

.item13 {
    -webkit-animation: 18s ease 0s normal forwards 1 fadein;
    animation: 18s ease 0s normal forwards 1 fadein;
}

.item14 {
    -webkit-animation: 19s ease 0s normal forwards 1 fadein;
    animation: 19s ease 0s normal forwards 1 fadein;
}

.item15 {
    -webkit-animation: 20s ease 0s normal forwards 1 fadein;
    animation: 20s ease 0s normal forwards 1 fadein;
}

.item16 {
    -webkit-animation: 21s ease 0s normal forwards 1 fadein;
    animation: 21s ease 0s normal forwards 1 fadein;
}

.item17 {
    -webkit-animation: 22s ease 0s normal forwards 1 fadein;
    animation: 22s ease 0s normal forwards 1 fadein;
}

.item18 {
    -webkit-animation: 23s ease 0s normal forwards 1 fadein;
    animation: 23s ease 0s normal forwards 1 fadein;
}

.item19 {
    -webkit-animation: 24s ease 0s normal forwards 1 fadein;
    animation: 24s ease 0s normal forwards 1 fadein;
}

.item20 {
    -webkit-animation: 25s ease 0s normal forwards 1 fadein;
    animation: 25s ease 0s normal forwards 1 fadein;
}

.item21 {
    -webkit-animation: 26s ease 0s normal forwards 1 fadein;
    animation: 26s ease 0s normal forwards 1 fadein;
}

.item22 {
    -webkit-animation: 27s ease 0s normal forwards 1 fadein;
    animation: 27s ease 0s normal forwards 1 fadein;
}

.item23 {
    -webkit-animation: 28s ease 0s normal forwards 1 fadein;
    animation: 28s ease 0s normal forwards 1 fadein;
}

.item24 {
    -webkit-animation: 29s ease 0s normal forwards 1 fadein;
    animation: 29s ease 0s normal forwards 1 fadein;
}

.item25 {
    -webkit-animation: 30s ease 0s normal forwards 1 fadein;
    animation: 30s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.item:hover {
    color: yellow;
}

.header span {
    list-style: none;
    font-size: 46px;
    font-family: AUTHENTICSansC60,Arial, sans-serif;
    font-weight: lighter;
    font-stretch: extra-condensed;
    color: white;
    margin: 3vw;
    padding: 10px 35px 16px;
}

.header .open {
    background-image: url("img/open1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cv span {
    margin: 0;
    padding: 15px 20px 15px;
}

.cv .open2 {
    background-image: url("img/open2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.listed-jobs {
    margin: 0 3vw 0;
    padding: 0 35px 0;
}

.listed-jobs span {
    list-style: none;
    font-size: 46px;
    font-family: AUTHENTICSansC60, Arial, sans-serif;
    font-weight: lighter;
    color: white;
    margin: 3vw;
    padding: 10px 30px 14px;
}

.cv-button {
    position: absolute;
    top: 8px;
    right: 1vw;
    margin-left: 10px;
    border-radius: 15px;
    padding: 3px 7px;
    background: rgba(255, 255, 255, 0.7);
}

.cv-button a {
    text-decoration: none;
    font-family: AUTHENTICSans, Arial, sans-serif;
    font-size: 36px;
    color: black;
    font-stretch: normal;
}

.cv-container {
    display: none;
    top: 8px;
    padding: 0 2rem;
    position: fixed;
    z-index: 1;
}

.active {
    display: block;
}

.cv {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    width: 90%;
    position: fixed;
    font-family: AUTHENTICSansC60, Arial, sans-serif;
    font-size: 2.5rem;
}

.cv p {
    margin: 1rem auto 1rem;
    width: 90%;
}

.center-align {
    text-align: center;
}

.vimeo-container {
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: -2;
}

iframe {
  box-sizing: border-box;
  width: 177.77777778vh;
  height: 56.25vw;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
